// ============= Colors ===============
$color-gray: #3636362b;
$color-shadow: #0a0a0a48;
// ======= shadow ===========
$box-shadow: 0 0.1em 1em -0.15em $color-shadow;

// ======== sizes screen =======
$medium-screen: 768px;
$large-screen: 1024px;
